<p id="notice"><%= notice %></p>

<p>
  <strong>Student ID:</strong>
  <%= @pnj.studentid %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @pnj.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @pnj.q2 %>
</p>

<p>
  <strong>Score:</strong>
  <%= @pnj.score %>
</p>

<h3><a href = "/">Back</a></h3>
